blinker==1.8.2
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
choreographer==1.0.9
click==8.1.8
dash==3.1.1
flask==3.0.3
idna==3.10
importlib-metadata==8.5.0
itsdangerous==2.2.0
jinja2==3.1.6
kaleido==1.0.0
logistro==1.1.0
MarkupSafe==2.1.5
narwhals==1.42.1
nest-asyncio==1.6.0
numpy==1.24.4
orjson==3.10.15
packaging==25.0
pandas==2.0.3
plotly==6.2.0
proto-plus==1.26.1
protobuf==5.29.5
pyasn1==0.6.1
pyasn1-modules==0.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
retrying==1.4.0
rsa==4.9.1
simplejson==3.20.1
six==1.17.0
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.2.3
werkzeug==3.0.6
zipp==3.20.2
